<mat-toolbar style="background-color: rgb(216, 216, 216);height:10% ;">
    <div style="margin-left: 3%;">

        <button mat-raised-button style="color: rgb(248, 248, 248);background-color:#30ADC1;font-family: initial;height: 29px;font-size: 66%;" routerLink="/home">Home</button>
        <button mat-button   style="color: black;font-family: initial;font-size: 66%;"  routerLink="/vehicles">Vehicles</button>
        <button mat-button  style="color: black;font-family: initial;font-size: 66%;"  routerLink="/mobile_phones" >Mobile  Phones</button>
        <button mat-button   style="color: black;font-family: initial;font-size: 66%;"  routerLink="/electronics">Electronics</button>
        <button mat-button  style="color: black;font-family: initial;font-size: 66%;"  routerLink="/mens_fashion">Mens Fashion</button>
        <button mat-button  style="color: black;font-family: initial;font-size: 66%;"  routerLink="/womens_fashion" >Womens Fashion</button>
        <button mat-button   style="color: black;font-family: initial;font-size: 66%;"  routerLink="/jobs">Jobs</button>
      </div>



</mat-toolbar>
<router-outlet></router-outlet>
