<mat-toolbar style="background-color: rgb(255, 255, 255);">
  <img style="width: 98px;margin-left: 4%;" src="assets/logo/logo.png">

  <span style=" color: rgb(109, 109, 109);text-align: right;flex: 1 1 auto;">

    <a style="cursor: pointer;font-size:70%">Post Your Ad</a>&nbsp;&nbsp;&nbsp;
    <a style="cursor: pointer;font-size:70%">My Ads</a>&nbsp;&nbsp;&nbsp;
    <a style="cursor: pointer;font-size:70%">About</a>&nbsp;&nbsp;&nbsp;
    <a style="cursor: pointer;font-size:70%">Log in</a>


    </span>



</mat-toolbar>
