.image{
  height:516px; background-size:cover; width:auto;

  background-image:url(/assets/image/back.png);
  background-position:0% 0%;
}



//new broduct
.heading
{
  margin-left: 3%;
}


.heading h4 {
  color: black;
  margin-left: 10%;
}

.heading span {
  color: #30ADC1;
}
.example-card {
  max-width: 200px;
  max-height: 200px;
  margin-left: 5%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
