<div class="background">

    <div class="background-two" >


        <mat-card class="login" >

          <mat-card-title style="text-align: center">Login</mat-card-title>
          <hr>

            <form class="example-form">




                <p>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username or email address *">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password *">
                  </mat-form-field>
                </p>






              </form>

              <button style="float: left;margin-left:15%;background-color: #30ADC1;color: white;" mat-raised-button >Log in</button>


          </mat-card>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

          <mat-card class="register" >

              <mat-card-title style="text-align: center">Register</mat-card-title>
              <hr>

                <form class="example-form">




                    <p>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email address *">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password *">
                      </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Password Repeat *">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="First Name *">
                        </mat-form-field>
                      </p>
                      <p>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name *">
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Mobile Number *">
                          </mat-form-field>
                        </p>




                  </form>

                  <p style="float: left;margin-left:15%;">By clicking register you are agreeing to Wikunamu.LK <br>Terms and Conditions, Cookie Policy and Privacy Policy.</p>

                  <button style="float: left;margin-left:15%;color:rgb(255, 255, 255);background-color: #30ADC1" mat-raised-button >Register</button>


              </mat-card>




      </div>
      </div>

