<div class="background">

    <div class="background-two" >


        <mat-card class="login" >

          <mat-card-title style="text-align: center">Login</mat-card-title>
          <hr>

            <form class="example-form">




                <p>
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Username or email address"  required [(ngModel)]="username" name="username">
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput type="text" placeholder="Password" required [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" >
                   <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

                  </mat-form-field>
                </p>






              </form>

               <mat-label style="color: red" *ngIf="loginError">There was a problem logging in. Please try again.</mat-label>

              <button style="float: left;margin-left:15%;background-color: #30ADC1;color: white;" mat-raised-button  (click)="login()"   >Log in</button>


          </mat-card>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

          <mat-card  class="register" >

              <mat-card-title style="text-align: center">Register</mat-card-title>
              <hr>

                <form  class="example-form">




                    <p>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email address " required
                         [(ngModel)]="email" name="email">
                      </mat-form-field>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Password " required
                        [(ngModel)]="regpassword" name="regpassword">
                      </mat-form-field>
                    </p>

                    <p>

                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Full name"  required
                          [(ngModel)]="fullname" name="fullname">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Mobile Number "
                          required
                          [(ngModel)]="moblenumber" name="moblenumber">
                        </mat-form-field>
                      </p>


                      <p style="float: left;margin-left:15%;">By clicking register you are agreeing to Wikunamu.LK <br>Terms and Conditions, Cookie Policy and Privacy Policy.</p>

                      <button style="float: left;margin-left:15%;color:rgb(255, 255, 255);background-color: #30ADC1" mat-raised-button (click)="registerUser()">Register</button>


                  </form>




              </mat-card>




      </div>
      </div>

