.item-details {

  margin-bottom: 50px;
  margin-left: 14%;
  background-color: rgb(221, 221, 221);
  width: 70%;
  /* max-width: 300px; */
  margin-bottom: 50px;
  float: left;
  height: 689px;

  }

.item-details-img{
  width: 42%;
  margin-top: 3%;
  margin-left: 4%;
}


.item-details-heder{
  float: left;
  color: black;
  margin-right: 33%;
  margin-top: 1%;
  font-size: 30px;
  font-weight: 500;
}
.item-details-contact{
  float: right;
  margin-right: 32%;

}
.item-details-location{

  width: 33%;
}
