<div style="height:780px;background-color: white">

  <div style="height:780px;background-color: white;margin-top: 2%;">


    <mat-card class="item-details" >
      <div class="item-details-main">
          <p class="item-details-heder">Jaguar-Indus-Silver</p>

        <img class="item-details-img" mat-card-image src="https://media.wired.com/photos/5b86fce8900cb57bbfd1e7ee/master/pass/Jaguar_I-PACE_S_Indus-Silver_065.jpg" alt="">


      <div class="item-details-contact">
       <p style="color: black"></p>

       <img class="item-details-location" mat-card-image src="https://image.flaticon.com/icons/svg/143/143960.svg" alt="">
       <p style="color: black; margin-top: -42%;margin-left: 32%;">Colombo</p>
       <br>
       <br>
       <img class="item-details-location" mat-card-image src="https://image.flaticon.com/icons/svg/254/254043.svg" alt="">
       <p style="color: black; margin-top: -42%;margin-left: 32%;">+97646466</p>

      </div>


      <p style="color: black">BASIC INTERIOR PROTECTION PACKAGE -inc: For vehicles without full-size spare,TECHNOLOGY PACKAGE -inc: Interactive Driver Display, Radio: Meridian 825W Surround Sound System, 10" touchscreen, HD Radio, InControl Remote (including remote climate control, lock and unlock and beep and flash), InControl Protect (including SOS emergency call, Jaguar optimized assistance call and stolen vehicle locator), USB, 12V socket in center console additional power sockets (auxiliary power socket x2), Bluetooth connectivity and streaming and ECO driving style assistant, CD/DVD Player</p>



    </div>

    </mat-card>

    </div>

  </div>
